
* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 240px 0px 240px;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px 24px 0px;
}

.header,
.landing,
.footer {
    background-color: #1f2937;
    color: aliceblue;
}

.links {
    display: flex;
    gap: 28px;
    text-align: end;
    color: #F9FAF8;
    font-size: 18px;
}



/* ------------------------------------------- */



.landing {
    display: flex;
    justify-content: space-evenly;
    gap: 72px;
    padding: 48px;
}

.landingbody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 96px 128px 128px 192px;
}

.landingimg {
    margin: 0px 192px 0px 0px;
    display: flex;
    align-items: center;

}

/* ------------------------------------------- */

.Awesome {
    font-weight: 900;
    font-size: 48px;
    margin: 0px 0px -12px 0px;

}

.awesomebutton {
    width: 128px;
    height: 38px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    font-size: 18px;
}



/* ------------------------------------------- */



.information {
    display: flex;
    justify-content: center;
    align-items: center;
    color: 1f2937;
    font-weight: 900;
    font-size: 36px;
    padding: 16px 0px 16px 0px;
}



.gallery {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 0px 0px 100px 0px;
}

.gallery img {
    height: 175px;
    width: 175px;
    border-radius: 7px;
}

.img1,
.img2,
.img3,
.img4 {
    display: flex;
    flex-direction: column;
    border-color: #3882F6;
    border: 6px;
}

.gallery-blurb {
    text-align: center;
    color: #1f2937;
}




/* ------------------------------------------- */




.inspirational {
    background-color: #E5E7EB;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 128px 0px 128px 0px;
}

.quote {
    font-size: 36px;
    margin: 0px 384px 0px 384px;
    font-style: italic;
    font-weight: -100;
}

.credit {
    text-align: end;
    font-size: 24px;
    font-weight: 900;
    width: 800px;
    color: #1f2937;

}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 7px;
    justify-content: space-between;
    margin: 96px 350px 96px 350px;
    padding: 24px 100px 24px 100px;
}

.to {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.action {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
    margin: 0px 0px 0px 0px;
}

.newsletter {
    margin: 0px 0px 0px 0px;
    font-size: 18px;
}

.buttn {
    border-color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 7px;
    border-style: solid;
    color: #F9FAF8;
    padding: 7px 28px 7px 28px;
    font-weight: 900;
    font-size: 16px;
    margin: 0px 24px 0px 0px;
}